<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Shoes ALL PAGE</h1>
<ul class="shoes">
    <% for(let i=0; i<shoes.length; i++) { %> 
      <li><a href="/shoes/<%- i %>"><%= shoes[i].title %></li></a>
    <% }; %>
    </ul>
</body>
</html>